* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.34' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.container {
    width: 70%;
    margin: auto;
}

.datas {
    background-color: #c9cdd4;
    margin: 10px 0;
}

.container_data {
    margin-top: 10px;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.photo {
    width: 150px;
    border-radius: 100%;
}

.profile_photo {
    position: absolute;
    top: 8%;
    right: 16%;
}

.referencias_datos {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-end;
}